@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.2s ease-in-out;
}

body {
  font-family: "Fira Code", monospace;
  min-height: 100vh;
  @apply text-typography-light bg-bg-light dark:text-typography-dark  dark:bg-bg-dark transition-all duration-300 ease-in-out;
}

.dashboard {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-template-areas:
    "aside nav nav"
    "aside main main"
    "aside main main";
}

.grid-pattern {
  background-image: url("/src/assets/ooorganize.svg");
  background-repeat: repeat;
}

.grid-pattern__white {
  background-image: url("/src/assets/grid-white.svg");
  background-repeat: repeat;
}
